
[mysql_default]
host = "127.0.0.1"
username = "root"
password = "123456"
port = "3306"
database = ""
charset = "utf8"

[redis_default]
host = ""
port = "3306"
password = "123456"
db = 1

[smtp]
host = ""
port = 465
user = ""
password = ""